@font-face {
    font-family: 'Montserrat Regular';
    src: utl("../font/Montserrat-Regular.ttf")   format('truetype'),
         url("../font/Montserrat-Regular.woff2") format('woff2'),
         url("../font/Montserrat-Regular.woff")  format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora Regular';
    src: url('../font/Lora-Regular.woff2') format('woff2'),
         url('../font/Lora-Regular.ttf')   format('truetype'),
         url('../font/Lora-Regular.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
}